html {
    background-image: url(background2.jpg);
    background-size: cover;
    color: white;
    font-family: Verdana, monospace, sans-serif;
    width: 60%;
    text-align: center;
    margin: auto;
}
p {
    font-size: 18px;
}

ul {
    font-size: 18px;
}

h1 {
    color:red;
}
